#map {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
 }

 #top-nav {
   position:fixed;
   top: 0;
   z-index: 1;
   width: 100%;
 }

.btn-rounded {
  background: rgba(167, 61, 61, 0.877);
  color:white;
}
