#map {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
 }

 #top-nav {
   position:fixed;
   top: 0;
   z-index: 1;
   width: 100%;
 }

.btn-rounded {
  background: rgba(167, 61, 61, 0.877);
  color:white;
}

.join-button {
  text-align: center;
  padding: 10px 10px;
  background-color: #f3ca32;
}

.join-button:hover {
  cursor: pointer;
}

.join-container {
  text-align: center;
}

#logo-image {
  width: 100px;
  height: auto;
  margin: 0;
  padding: 0'
}
